In [1]:
import sys
import pandas as pd
sys.path.append('../src')
from db_connection import conn

In [2]:
#Load the data in a dataframe object
df = pd.read_csv('../Data/Crime_Data_from_2020_to_Present_20240818.csv')
#Load the data into a SQL DATABASE
df.to_sql(name='criminal_mind_raw', con=conn.engine.connect(), if_exists='replace', index=False)  #name = Table Name
                                                                                        #con = connection to the database
                                                                                        #index = keep the pandas indexes

638

In [3]:
#Read the data until POSTGRES

#Query to get the data
q = 'Select * from criminal_mind_raw'
#Read until postgresql
df_postgres = pd.read_sql(sql=q, con=conn.engine)

In [4]:
df_postgres.shape

(982638, 28)

In [5]:
df_postgres.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,None,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,None,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,None,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,None,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,None,34.0944,-118.3277